<div class="container"><h1>Stupid Question</h1></div>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Question?">
  <br>
  <input type="submit" class="button" value="Ask!">
</form>
